ol, ul {
	list-style: none;
  margin:0 auto;
}

.time-slot-desc{
    background:#0e0e0e;
    color:#eeefff;
}

.time-slot-desc span p{
    color:orange;
    font-weight:bolder;
}

.container-fluid{
    margin-top:10px;
}

.slot-new-est{
    overflow:hidden;
    width:160px;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.fade.in {
    opacity: 1;
}

.error-msg{
    display:block;
    margin-top:10px;
}

.icon-ok{
    color:green;
}

#module-planned-slot-list{
    clear:left;
}

#module-unplanned-slot-list li{
    height: 40px;
    line-height:40px;
    background:#005b5f;
    margin:1px 0 0 0;
    color:#ffffff;
    padding-left:10px;
    font-weight:800;
    font-size:16px;
    letter-spacing:1px;
}
.current-slot{
   background:#ffeeee;
   color:#11ffee;
}

.destroy {
	display: none;
  float:right;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 22px;
	color: #a88a8a;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.destroy:hover {
	text-shadow: 0 0 1px #000,
				 0 0 10px rgba(199, 107, 107, 0.8);
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}

.destroy:after {
	content: '✖';
}

li:hover .destroy {
	display: block;
}