ol, ul {
	list-style: none;
  margin:0 auto;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.fade.in {
    opacity: 1;
}

.error-msg{
    display:block;
    margin-top:10px;
}

.icon-ok{
    color:green;
}

#module-new-slot{
    clear:right;
}

#module-planned-slot-list{
   float:right;
}

#module-unplanned-slot-list{

}

#module-unplanned-slot-list li{
 }

#module-unplanned-slot-list li.current{

}
