{
 :components {
              :logging           {
                                  :config
                                  {
                                   [:shared-appender-config :rotor]
                                   {:path
                                    "/root/log/raiseup.log"
                                    :max-size 10240000
                                    :backlog  5}
                                   }}
              :snapshot-db       {:path "/root/data/snapshot-db"}

              :recoverable-id-db {:path "/root/data/ids-db"}

              :events-db         {:path "/root/data/events-db"}

              :readmodel         {
                                  :host           "127.0.0.1"
                                  :port           9300
                                  :start-shell    []
                                  :shutdown-shell []
                                  }

              :http-server {:host "107.170.79.205"}
              }
 }
