/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
   reset end
   **/
a{
 color:#ccc;
}

body{
   background:#222;
}

.main{
  position:relative;
  width:100%;
}

#cmd-box{
  position:absolute;
  top:300px;
  left:35%;
  width:30%;
  height:60px;
  border:1px solid #333;
  background:#444;
  font-size:1.8em;
  line-height:50px;
  color:#eee;
  font-family: 'Roboto Slab', serif;
  text-shadow: 3px 6px 3px rgba(0,0,0,0.2);
}

#resp{
 width:76%;
 margin:0 auto;
 color:#fff;
}

.mod-notes{
  margin-left:15px;
}

.mod-notes{
  padding-top:100px;
}

.mod-notes li{
  background:#333;
}

.mod-notes li {
    border-radius:3px;
    margin-bottom:5px;
}

.mod-notes li .title{
    position:relative;
    border-radius:2px;
    padding-bottom:3px;
    margin-bottom:5px;
    text-shadow: 0 1px 0 rgba(111,111,111,0.2);
}

.mod-notes li .title h1{
    height:30px;

    text-transform: capitalize;
    font-family:'Roboto Slab', monospace;
    font-weight:800;
    font-size:1.2em;
    padding:10px 0 0 5px;

}

.mod-notes li .additional{

    position:absolute;
    right:0px;
    top:0px;
    font-size:1em;
    color:#fff;
    height:100%;
    padding:3px 5px;
    font-family:monospace;
}

.mod-notes li .additional span{
    display:block;
    margin-top:5px;
}

.markdown{
    border-top:1px solid #555;
    padding:25px 10px;
    clear:right;
    font-size:0.95em;
    font-family:"Source Code Pro",Monaco, Consolas, "Liberation Mono", Courier, monospace;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    color:#eee;
    line-height:25px;
}

.markdown pre{
  font-size:0.9em;
}

.markdown li{
  border:0;
}
div.markdown ol li{
    margin:3px 15px;
    border:0;
}


.markdown p{
    margin:10px 0px;
}

.markdown h2{
    font-weight:600;
    margin :20px 0;
    font-size : 1.3em;
    color:#e03;
    font-family:sans-serif;
}


li.current{
     -moz-box-shadow: 3px 3px 4px #111;
      -webkit-box-shadow: 3px 3px 4px #111;
      box-shadow: 3px 3px 4px #111;
      margin-bottom:13px;
}
