/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
   reset end
   **/

ol, ul {
    list-style: none;
    margin:0 auto;
}

a:link, a:active,a:visited {
    text-decoration:none;
    color:#55f;
}

.btn{
    display:block;
    height:40px;
    font-weight:600;
    background:#558;
    line-height:40px;
    text-align:center;
    border:0;
    font-size:1em;
    font-family:Consolas, "Liberation Mono", Courier, monospace;
    margin:5px;
    color:#fff;
}

a.btn{
    color:#fff;
}


.lv1{
    margin:0;
    padding:0px;
    width:7.3%;
    position:fixed;
    top:250px;
    left:10px;
    border:1px solid #333;
}

.lv2{
    top: 350px;
}


/** shared mod **/

.container{
    margin: 0 auto;
    width:100%;
    background:#F7F7F3;
}

.nav{
    width:8%;
    position:fixed;
    top:0px;
    bottom:0px;
    background:#333;
    float:left;
    padding-top:30px;
}

.nav .logo{
    color:#eef;
    margin-bottom:3px;
    border-bottom:2px solid #fff;
    font-weight:800;
}

.nav #menu li{
    color:#ffe;
    background:#88f;
    margin-bottom:3px;
    width:98%;
    padding:5px 0 5px 5px;
}

.nav #auth{
    position:absolute;
    bottom:30px;
    z-index:999;
}


.nav #auth li a{
    background:#333;
    display:block;
    float:left;
    clear:left;
}
.nav #auth li form{
    float:right;
    display:none;
}

.nav #auth li form.show{
    display:block;
}

.nav #auth li form{
    background : #877;
}
.nav #auth li form input{
    border:1px solid #ddd;
    height:30px;
    line-height:30px;
}

.nav a{
    color:#fff;
    margin-top:20px;
    margin-right:20px;
}

.right-slide{
    position:fixed;
    top:0px;
    right:0px;
    width : 14%;

}

.main{

    width:76%;
    margin-left:9%;
    margin-right:15%;
    float:left;
}

.footer{
    clear:both;
    position:fixed;
    bottom:0px;
    width:100%;
    height:20px;
    background:#efefef;
    border:1px solid #eee;
    margin-top:3px;
    margin-left:8%;
    color:#7f7f7f;
    font-family: monospace;
    font-size:1em;
    line-height:20px;
}
/** note index **/

.mod-notes,.mod-note,.mod-note-form,#mod-tips{
    margin-left:15px;
}

.mod-notes{
    padding-top:20px;
}

.mod-notes li{
    background:#fff;
}

.mod-notes li {
    border:1px solid #eef;
    border-radius:3px;
    margin-bottom:5px;
}

.mod-notes li .title,.mod-note .title{
    position:relative;
    border-radius:2px;
    padding-bottom:3px;
    margin-bottom:5px;
    text-shadow: 0 1px 0 rgba(111,111,111,0.2);
}

.mod-notes li .title h1, .mod-note .title h1{
    height:30px;
    border-left:2px solid #668;
    text-transform: capitalize;
    font-family:monospace;
    font-weight:800;
    font-size:1.4em;
    padding:10px 0 0 5px;

}


.mod-note .title{
    margin-top:20px;
}
.mod-notes li .additional, .mod-note .title .additional{

    position:absolute;
    right:0px;
    top:0px;
    font-size:1em;
    color:#aaa;
    height:100%;
    padding:3px 5px;
    font-family:monospace;
}

.mod-notes li .additional span, .mod-note .title .additional span{
    display:block;
    margin-top:5px;
}

.markdown{
    border-top:1px solid #eef;
    padding:25px 10px;
    clear:right;
    font-size:0.95em;
    font-family:"Source Code Pro",Monaco, Consolas, "Liberation Mono", Courier, monospace;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    color:#333;
    line-height:25px;
}

.markdown pre{
    font-size:0.9em;
}

.markdown li{
    border:0;
}
div.markdown ol li{
    margin:3px 15px;
    border:0;
}


.markdown p{
    margin:10px 0px;
}

.markdown h2, .markdown h3{
    font-weight:600;
    margin :20px 0;
    font-size : 1.3em;
    color:#e03;
    font-family:monospace;
}


.markdown h3{
  font-size:1.2em;
  margin:25px 0;
}
/** mod note* */

.mod-note{
}

.mod-note .title,.mod-note .markdown{
    background:#fff;
}

/** note form   **/

.mod-note-form{
    width:55%;
    float:left;
    margin-right:15px;
}

#preview{
    float:right;
    width:40%;
    font-size:0.8em;
    margin :40px 0 0 0;
}

.mod-note-form input.title,#content{
    display:block;
    border:1px solid #eef;
    height:40px;
    border-radius:3px;
    padding:5px;
}

.mod-note-form textarea#content{
    width:100%;
    resize:vertical;
    textarea.noResize { resize:none; }
    max-height:1500px;
    min-height:600px;
    padding-bottom:30px;
}

.mod-note-form input.title{
    font-size:1.6em;
    font-weight:800;
    font-family:Consolas, "Liberation Mono", Courier, monospace;
    padding:2px 5px;
    height:40px;
    width:480px;
    line-height:40px;
    width:100%;
}


.discard{
    height:30px;
    line-height:20px;
    padding:5px;
    text-decoration:underline;
}

.mod-error{
    padding:20px 0 30px 50px;
    background : #aacc33;
    color:#ffffff;
    font-size:1.2em;
    font-weight:800;
}


.more{
    display:block;
    margin:10px 0;
    font-size:0.9em;
}



.msg , #current-user {
    background:#fee;
    color:#f00;
    padding:2px 5px;
    border-radius:3px;
    height:25px;
}

#current-user {
    padding:2px 15px;
    line-height:25px;
}

#current-user a{
    margin-left:30px;
    text-decoration:underline;
    font-size:0.8em;
    font-weight: 800;
    text-shadow: 0 1px 0 rgba(111,111,111,0.2);
}