/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
   reset end
   **/

ol, ul {
    list-style: none;
    margin:0 auto;
}

a:link, a:active,a:visited {
  text-decoration:none;
  color:#55f;
}

/** shared mod **/

.container{
    margin: 0 auto;
    width:100%;
    background:#F7F7F3;
}

.nav{
    width:8%;
    position:fixed;
    top:0px;
    bottom:0px;


    background:#000;
    float:left;
    padding-top:30px;
}

.nav .logo{
  color:#eef;
  margin-bottom:3px;
  border-bottom:2px solid #fff;
  font-weight:800;
}

.nav li{
    color:#ffe;
    background:#88f;
    margin-bottom:3px;
    width:98%;
    padding:5px 0 5px 5px;
}

.nav a{
    color:#fff;
}
.nav a:link{
    text-decoration: none;

}

.right-slide{
   width : 15%;
   float: right;
}

.main{
  width:76%;
  margin-left:9%;
  margin-right:15%;

}

.footer{
 clear:left;
 width:100%;
 height:30px;
 background:#effeff;
 border:1px solid #eef;
 margin-top:3px;
}
/** note index **/

.mod-notes,.mod-note,.mod-note-form,#mod-tips{
  margin-left:15px;
}

.mod-notes{
  padding-top:20px;
}

.mod-notes li{
  background:#fff;
}

.mod-notes li {
    border:1px solid #eef;
    border-radius:3px;
    margin-bottom:5px;
}

.mod-notes li .title,.mod-note .title{
    border-bottom:1px solid #ecf;
    border-radius:2px;
    padding-bottom:3px;
    margin-bottom:3px;
    text-shadow: 0 1px 0 rgba(111,111,111,0.2);

}

.mod-notes li h1, .mod-note h1{
    height:30px;
    text-transform: capitalize;
    font-family:monospace;
    font-weight:800;
    font-size:120%;
    padding:10px 0 0 5px;

}

.mod-notes li h1 a:link, .mod-note h1 a:link{
    text-decoration: none;
}

.mod-notes li span{
    display:block;
    font-family:monospace;
    padding-left:5px;}



.mod-notes li div.markdown, .mod-note div.markdown{
    padding:25px 10px;
    clear:right;
    font-size:0.95em;
    line-height: 120%;
    font-family:Consolas, "Liberation Mono", Courier, monospace;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    color:#333;
}

div.markdown ul li{
    margin:0px auto;
    background:#6cc;
}

.markdown pre{
    background:#111;
    color:#fff;
    text-shadow: 0px 0.5px 0.5px #333;
    margin:5px 0;
    padding:20px;
}

.markdown p{
    margin:10px 0px;
}

.markdown h2{
    font-weight:600;
    margin :10px 0;
    font-size : 1.3em;
    color:#e03;
    font-family:sans-serif;
}

/** mod note* */

.mod-note{
}

.mod-note .title,.mod-note .markdown{
  background:#fff;
}

/** note form   **/

.mod-note-form{


}

.mod-note-form input,textarea{
    display:block;
    border:1px solid #eef;
    height:40px;
    width:480px;
    margin:5px 0;
    border-radius:3px;
    padding:5px;
}

.mod-note-form textarea#content{
    width:100%;
    resize:vertical;
    textarea.noResize { resize:none; }
    max-height:1500px;
    min-height:600px;
    padding-bottom:30px;
}

.mod-note-form input.title{
   font-size:1.6em;
   font-weight:800;
   font-family:Consolas, "Liberation Mono", Courier, monospace;
   padding:2px 5px;
   height:40px;
   line-height:40px;
}

.mod-note-form .btn{
  background:#55f;
  width:100px;
  border:0;
  font-size:100%;
  font-family:Consolas, "Liberation Mono", Courier, monospace;
  margin:5px;
  color:#fff;

  position:fixed;
  top:250px;
  left:10px;
}

.mod-note-form .lv2{
  top: 350px;
}



.mod-error{
    padding:20px 0 30px 50px;
    background : #aacc33;
    color:#ffffff;
    font-size:1.2em;
    font-weight:800;
}


.more{
  display:block;
  margin:10px 0;
  font-size:0.9em;
}



.msg {
 background:#fee;
 color:#f00;
 padding:10px 5px;
 border-radius:3px;
}