/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
   reset end
   **/

ol, ul {
    list-style: none;
    margin:0 auto;
}

/** shared mod **/

.container{
    margin: 0 auto;
    width:100%;
    background:#fef;
}

.nav{
    width:8%;
    height:800px;
    background:#000;
    float:left;
    padding-top:30px;
}

.nav .logo{
  color:#eef;
  margin-bottom:3px;
  border-bottom:2px solid #fff;
  font-weight:800;
}

.nav li{
    color:#ffe;
    background:#88f;
    margin-bottom:3px;
    width:103%;
    padding:5px 0 5px 5px;
}

.nav a{
    color:#fff;
}
.nav a:link{
    text-decoration: none;

}

.right-slide{
   width : 15%;
   float: right;
}

.main{
  width:76%;
  margin-left:9%;
  margin-right:15%;

}
/** note index **/

.mod-notes{
  margin-left:15px;
  padding-top:30px;
}

.mod-notes li{
    background:#fff;
}

.mod-notes li .title,.mod-note .title{
    background:#eee;
}

.mod-notes li h1, .mod-note h1{
    height:30px;
    text-transform: capitalize;
    font-family:monospace;
    font-weight:800;
    font-size:120%;
    padding:5px 0 0 5px;
}

.mod-notes li h1 a:link, .mod-note h1 a:link{
    text-decoration: none;
}

.mod-notes li span{
    display:block;
    font-family:monospace;
    padding-left:5px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}

.mod-notes li div.markdown, .mod-note div.markdown{
    padding:25px 10px;
    clear:right;
    font-size:0.95em;
    line-height: 120%;
    font-family:Consolas, "Liberation Mono", Courier, monospace;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    background:#ddd;
    color:#333;
}

div.markdown ul li{
    margin:0px auto;
    background:#6cc;
}

.markdown pre{
    background:#6aa;
    color:#444;
    text-shadow: 0px 0.5px 0.5px #333;
    margin:5px 0;
    padding:20px;
}

.markdown p{
    margin:10px 0px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.25);
}

.markdown h2{
    font-weight:800;
    margin-top :20px;
    font-size : 1.3em;
    font-family:sans-serif;
}

/** note form   **/

.mod-note-form{
    padding: 30px 0px 0px 50px;
}

.mod-note-form input,textarea{
    display:block;
    height:50px;
    border:0px;
    width:1080px;
    border:5px solid #333;
    padding-left :15px;
}

.mod-note-form textarea.content{
    height:400px;
}

.mod-note{
    padding:30px 0 0 50px;
}

.mod-note h1{
    padding : 0px;
}

.mod-error{
    padding:20px 0 30px 50px;
    background : #aacc33;
    color:#ffffff;
    font-size:1.2em;
    font-weight:800;
}
